.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}
.App-logo-reversed {
  height: 40vmin;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
  .App-logo-reversed {
    animation: App-logo-counterspin infinite 2s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: auto;
}

.App-link {
  color: #61dafb;
}

.Background-logo {
  background-color: darkred;
  background-image: url('./data/img/Background.jpg');
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
}

@import url('http://fonts.cdnfonts.com/css/doom');

.Main-text {
  font-family: 'DooM', sans-serif;
  text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
  color: rgb(255, 0, 0);
}

.Button {
  background-color: white; 
  color: black; 
  border: 2px solid #f44336;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.Button:hover {
  background-color: #f44336;
  color: white;
}

.Quiz-foundation {
  background-color: rgba(255, 255, 255, 0.5); 
  border: 10px solid #f44336;
  font-size: 32px; 
  height: 500px;
}

.Sprite-box {
  padding: 20px 0;
  margin: auto;  
  height: 250px;
  width: 500px;
}

.Button-sound {
  background-color: white; 
  color: black;
  border: 3px solid rgba(0, 0, 0, 0);
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  margin: 4px 10px;
  transition-duration: 0.4s;
}

.Button-sound:disabled {
  color: rgba(0, 0, 0, 0.5);
}

.Selected-button{
  border: 3px solid #f44336;
}

.Button-sound:focus {
  box-shadow: inset 0 0 5px rgb(0, 238, 255);
  }

.Button-panel {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  margin: 0 10px;
}

.Right-answer {
  background-color: greenyellow;
}

.Wrong-answer {
  background-color: red;
}

.Volume-box {
  background-color: white; 
  color: black;
  border: 5px solid rgba(0, 0, 0, 0);
  padding: 4px 12px 4px 12px;
  text-align: left;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  margin: 4px 10px;
  transition-duration: 0.4s;
  align-self: flex-end;
}

.Volume-value {
  display:inline-block;
  width: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes App-logo-counterspin {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
